.logo {
    height: 200px;
    margin-bottom: 1.5rem;
}

.home {
    text-align: center;
    padding: 2rem;
    animation: fadeIn 1s ease;
    background-color: #ffffff00;
}

.color-line {
    height: 5px;
    margin: 1rem auto;
    width: 80%;
    background: linear-gradient(270deg, #01a9f7, #0078ff, #01a9f7);
    animation: colorFade 3s infinite alternate;
}

@keyframes colorFade {
    0% {
        background: #01a9f7;
    }
    50% {
        background: #0078ff;
    }
    100% {
        background: #01a9f7;
    }
}

.home p {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #01a9f7;
    max-width: 600px;
    margin: 0 auto 2rem;
    margin-top: 5rem;
}

.home ul {
    list-style-type: none;
    padding: 0;
}

.home ul li {
    font-size: 1.1rem;
    color: #444;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
}

.home ul li .fa-icon {
    margin-right: 0.5rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 1024px) {
    .logo {
        height: 180px;
        margin-bottom: 1.25rem;
        margin-left: -0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        height: 150px;
        margin-bottom: 1rem;
        margin-left: -1rem;
    }
}

@media screen and (max-width: 480px) {
    .logo {
        height: 120px;
        margin-bottom: 0.75rem;
        margin-left: -3.4rem;
    }
}

@media screen and (max-width: 425px) {
    .logo {
        height: 110px;
        margin-bottom: 0.75rem;
        margin-left: -3.2rem;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        height: 100px;
        margin-bottom: 0.5rem;
        margin-left: -3rem;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        height: 90px;
        margin-bottom: 0.5rem;
        margin-left: 3;
    }
}



